html {
	background: transparent;
}

body {
	background-color: #202020;
	color: #fff;
	background-image: radial-gradient(10% 100% ellipse at bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%);
	transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
}

#app {
  color: white;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(235, 235, 235), transparent);
}

a {
	color: white;
}

.navbar { 
	background: #000000;
}

.gem-item:hover {
  background: rgba(255,255,255,0.1);
}

.menu-items a,a:visited {
	color: gray;
	transition: all .3s ease-in-out;
}

.menu-items .router-link-exact-active{
	color: white;
}

/* -- BUTTON -- */
button {
	border: 1px solid #aaaaaa;
}

button a {
	color:  #bdbdbd;
}

button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
}

button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
}

button:hover a {
	color: #fff;
}

button:hover .mask {
	background-color: #fff;
}

button:active {
	background-color: #fff;
}

button:active a {
	color: #202020;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  background-color: rgba(156, 174, 192, 0.17);
  border: 1px solid #5f5f5f;
  color: #7e7e7e;
  box-shadow: none;
}


button:disabled a,
button[disabled] a {
  color: #7e7e7e;
}


button:disabled:hover a,
button[disabled]:hover a {
  color:  #7e7e7e;
}
/* --   BUTTON   -- */

/* -- TEXT FIELD -- */
.md-textfield {
	color: #fff;
}

.md-textfield .md-textfield-input:focus + label {
  color: #fff;
}

.md-textfield .md-textfield-input:focus + label + .indicator {
  border-bottom-color: #fff;
}

.md-textfield .md-textfield-input + label + .indicator  {
  border-bottom-color: rgb(131, 131, 131);
}

.md-textfield .md-textfield-input:not(:placeholder-shown) + label {
  color: #fff;
}

.md-textfield .md-textfield-input   {
	color: #fff;
}

.md-textfield .md-textfield-input:invalid + label + .indicator {
  border-color: red;
}

.md-textfield-icon{
	stroke: white;
	fill: white;
}
/* -- TEXT FIELD -- */

/* --   SELECT   -- */
.md-select {
	color: #fff;
}

.md-select input:focus + label {
  color: #fff;
}

.md-select input:focus + label + .indicator {
  border-bottom-color: #fff;
}

.md-select input + label + .indicator  {
  border-bottom-color: rgb(131, 131, 131);
}

.md-select input:not(:placeholder-shown) + label {
  color: #fff;
}

.md-select input   {
	color: #fff;
}

.md-select input:invalid + label + .indicator {
  border-color: red;
}

.md-select input:focus ~ ul {
  background: rgba(255, 255, 255, 0.5);
}

.option:hover {
	background-color: #fff;
	width: 100%;
}

.option:hover a {
	color: #000000;
}
/* --   SELECT   -- */

/* -- TOOLTIP -- */
.tooltip {
	background: black;
	border: 1px solid white;
}
/* -- TOOLTIP -- */

/* --    CARD    -- */
.card {
	background-color: rgba(0,0,0,0.9);
  padding: 10px;
  box-shadow: none;
	transition: 0.3s;
	border: 1px solid white;
}

.card-header {
  border-bottom: 1px solid white;
}

/* --    CARD    -- */

/* --    MODAL   -- */
.modal-mask {
  background-color: rgba(0, 0, 0, .9);
}


.modal-container {
	background-color: rgba(0, 0, 0, 0.98);
	border: 1px solid white;
	color: white;
}

.modal-container button {
	background-color: #000000;
	border-color: #6b6b6b;
}

.modal-container button:hover {
	border-color: white;
}
/* --    MODAL   -- */


/* --  CHECKBOX  -- */
.check + label {
	border-color: #fff;
}

.check + label svg path {
  stroke: #fff;
}
/* --  CHECKBOX  -- */


.settingsPane{
	background-color: black;
}